:root {
    --MainColor: #000;
    --SubColor: #0500e8;
    --ThirdColor: #3b8ff7;
    // --SubColor: #3b8ff7;
    // --ThirdColor: #0500e8;

    // --SubColor: #0f17ff;
    // --ThirdColor: #a2b5f9;
    --border: 1px solid hsla(241, 65%, 71%, 0.5);
    --fixedColor: #89a3b1;
    --bg: #17171c;
}
